@use "../helpers" as h;

.btn {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	font-family: inherit;

	&--emoji {
		background-color: var(--bg-clr-card);
		aspect-ratio: 1 / 1;
		display: grid;
		place-content: center;
		transition: background-color 100ms ease-in-out;

		&:is(:focus-visible) {
			background-color: var(--bg-clr-card-focus);
		}
		&:is(:hover) {
			background-color: var(--bg-clr-card-hover);
		}
		&:active {
			background-color: var(--clr-text-primary);
		}
	}

	&--play {
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		display: grid;
		place-content: center;
		background-color: var(--bg-clr-body);

		& > svg {
			// prevent svg from being click event target
			pointer-events: none;
			width: clamp(3.5rem, 20vw, 5rem);
			padding: clamp(0.5em, 15vw, 1em);
			fill: var(--clr-text-accent);
			transition: all 200ms ease-in-out;
		}
		&:hover > svg {
			fill: var(--clr-player);
			scale: 1.2;
		}

		&.hideBtn {
			animation: animateBtn calc(var(--countdown-speed) * 0.4)
				cubic-bezier(0.6, 0.14, 0.49, 0.9);
			pointer-events: none;
			> svg {
				animation: hideSvg calc(var(--countdown-speed) * 0.4)
					cubic-bezier(0.6, 0.14, 0.49, 0.9) forwards;
			}
		}
		&.showBtn {
			> svg {
				animation: showSvg calc(var(--countdown-speed) * 0.4) ease-in-out;
			}
		}
	}

	&--bounce {
		@include h.bounce;
		@include h.tablet-up {
			display: none;
		}
	}

	&--newGame {
		padding: 0.75em 1.5em;
		border: 2px solid var(--bg-clr-body);
		font-weight: var(--fw-bold);
		transition: all 100ms ease-in-out;

		&:hover {
			background-color: var(--bg-clr-body);
			color: var(--clr-text-accent);
		}
	}
}

@keyframes animateBtn {
	from {
		scale: 1;
	}

	50% {
		scale: 1.1;
	}
}

@keyframes hideSvg {
	from {
		fill: var(--clr-player);
	}
	to {
		scale: 0;
		fill: var(--clr-dark-red);
	}
}

@keyframes showSvg {
	from {
		scale: 0;
	}
	to {
		scale: 1;
	}
}
