@use "./mixins" as m;

.hide {
	@include m.tablet-up {
		display: none;
	}
}

.align-center {
	display: flex;
	align-items: center;
}

.justify-center {
	display: flex;
	justify-content: center;
}

.gap-smallest {
	gap: var(--gap-smallest);
}
